<h1><%= @user.name %></h1>

<p>
  <%= image_tag @user.image_url if @user.image?%>
</p>

<h2><strong>Artworks:</strong></h2>
<div>
  <% @user.pictures.all.each do |picture| %>
    <%= link_to image_tag(picture.image_url(:thumb)), picture %>
  <% end %>
</div>

<%= render 'comments/comment', comments: @comments, comment: @comment, url_path: user_comments_path(@user.id) %>